/*
Theme Name: m25
Theme URI: http://wordpress.org/extend/themes/twentyeleven
Author: Marcel ten Have
Author URI: http://www.marceltenhave.nl
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: twentyeleven
*/

/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
	margin: 0px;
	padding: 0px;
}

body {
	visibility: visible;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	background-image: url(images/bg.png);
	z-index: 1;
	margin: 0px;
	background-position: left top;
	padding: 0px;
	overflow: auto;
}
html {
	overflow: scroll;
}
#HorAchterGrond {
	width: 100%;
	z-index: 1;
	background-image: url(images/HorAchtergrond.png);
	background-repeat: repeat-x;
	position: absolute;
	height: 260px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	visibility: visible;
	overflow: visible;
	background-position: bottom;
	left: 0px;
}
#TopBanner1 {
	width: 1000px;
	background-image: url(images/TopLogo.png);
	background-repeat: no-repeat;
	position: relative;
	z-index: 15;
	height: 210px;
	overflow: hidden;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	visibility: visible;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	top: 10px;
}
#Zoekmachine {
	width: 450px;
	position: relative;
	z-index: 15;
	height: 30px;
	visibility: visible;
	overflow: visible;
	margin-right: auto;
	margin-left: auto;
	margin-top: -70px;
	left: 305px;
}
.assistive-text {
	display: none;
}
#Zoekmachine input[type="text"] {
	width: 350px;
	background: #009;
	color: #FFF;
	border: 1px solid #00C;
}
#Zoekmachine input[type="submit"] {
	width: 60px;
}
#Topnavigatie {
	width: 1000px;
	position: relative;
	z-index: 100;
	height: 30px;
	text-decoration: none;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	line-height: 30px;
}
#Topnavigatie ul {
	list-style-type: none;
	height: 30px;
	margin-left: 225px;
}
#Topnavigatie ul li {
	position: relative;
	list-style-type: none;
	width: auto;
	display: block;
	vertical-align: middle;
	float: left;
	height: 30px;
	line-height: 30px;
	padding-right:12px;
	padding-left: 12px;
	border-right: 1px dotted #0066FF;
}
#Topnavigatie a:link, 
#Topnavigatie a:visited {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#Topnavigatie ul li:hover {
	text-decoration: none;
	background-repeat: repeat-x;
	background-position: top;
	background-image: url(images/HoverBlauw.png);
}
#Footer {
	background-color: #494949;
	z-index: 21;
	color: #CCCCCC;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
	border-top-style: none;
	width: 100%;
	height: auto;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	line-height: 20px;
	background-image: url(images/FooterTop.png);
	background-repeat: repeat-x;
	background-position: top;
	position: relative;
	left: 0px;
	top: 0px;
	clear: both;
	float: left;
	margin-top: -2px;
	padding-top: 10px;
}
#Footer a:link, 
#Footer a:visited{
	color: #999999;
	text-decoration: none;
}
#Footer a:hover {
	color: #FFFFFF;
	text-decoration: none;
}
#Footer .widget {
	border-bottom: 3px groove #999;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#Footer .widget-title {
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	margin-bottom: 10px;
}

#Footer2 {
	background: #333;
	position: relative;
	height: 40px;
	width: 100%;
	float: left;
	border-top: 1px solid #000;
}

#copyright {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	background: url(images/copyright.png) no-repeat;
	height: 30px;
	left: 0px;
	top: 0px;
}
.tekstbold {
	font-weight: bold;
}
h1 {
	font-style: normal;
	font-weight: normal;
	color: #0033CC;
	font-size: 30px;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	margin-bottom: 40px;
}
h2 {
	font-size: 24px;
	color: #0033CC;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-top: 20px;
}
#Centralekolom h3, 
#primary h3 {
	font-size: 20px;
	font-family: "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	margin-top: 10px;
	font-style: italic;
	margin-bottom: -15px;
}
p {
	margin-top: 15px;
}
#Middenblok {
	position: relative;
	height: auto;
	z-index: 20;
	width: 1000px;
	clear: both;
	margin: 60px auto 20px;
}
#Linkerkolom {
	position: relative;
	height: auto;
	width: 200px;
	z-index: 100;
	top: 0px;
	left: 0px;
	visibility: visible;
	float: left;
	margin-top: 0px;
	border-right: 1px solid #CCC;
}
#Centralekolom {
	position: relative;
	height: auto;
	width: 580px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: 130%;
	font-weight: normal;
	color: #333333;
	visibility: visible;
	z-index: 100;
	margin-bottom: 20px;
	margin-top: 20px;
	float: left;
	left: 0px;
	top: 0px;
	margin-left: 35px;
	list-style-image: url(images/Li_Vierkant_Blauw.png);
}
#Centralekolom a:link, 
#Centralekolom a:visited {
	text-decoration: none;
	color: #003399;
}
#Centralekolom a:hover {
	color: #FF0000;
	text-decoration: underline;
}
#Centralekolom ul, #primary ul {
	margin-left: 50px;
	margin-top: 10px;
}

#Rechterkolom {
	width: 150px;
	float: right;
	position: relative;
	height: auto;
	top: 0px;
	color: #003399;
	z-index: 22;
	font-size: 12px;
	font-weight: normal;
	visibility: visible;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	margin-top: 20px;
}
#Rechterkolom #Teller {
	text-align: center;
	height: 120px;
	border: 1px solid #CCC;
	position: relative;
	top: 0px;
	right: 0px;
	width: auto;
	display: none;
}
#Rechterkolom .widget-area {
	text-align: left;
	margin-top: 20px;
}

#supplementary {
	position: relative;
	width: 1000px;
	margin: 30px auto;
}
#first, #second, #third {
	float: left;
	width: 250px;
	position: relative;
}
#first, #second {
	margin-right: 120px;
}

#Linkerkolom .widget-area, #Rechterkolom .widget-area {
	font: 12px "Open Sans", Arial, Helvetica, sans-serif;
	color: #666;
}
#Linkerkolom .widget-area a:link, 
#Linkerkolom .widget-area a:visited, 
#Rechterkolom .widget-area a:link, 
#Rechterkolom .widget-area a:visited {
	text-decoration: none;
	color: #00F;
}
#Linkerkolom .widget-area a:hover, 
#Rechterkolom .widget-area a:hover {
	color: #F00;
	text-decoration: underline;
}
#Linkerkolom .widget, 
#Rechterkolom .widget {
	border-bottom: 1px solid #CCC;
	padding-bottom: 10px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	height: auto;
	position: relative;
}
#Linkerkolom .widget-title, 
#Rechterkolom .widget-title {
	font: 20px "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	color: #00C;
	margin-top: 10px;
}
#Linkerkolom ul, 
#Rechterkolom ul, 
#Footer ul {
	margin-left: 20px;
}
#Linkerkolom li, 
#Rechterkolom li {
	list-style: url(images/Li_Vierkant_Blauw.png);
}

#Middenblok #primary {
	font:  16px "Open Sans", Arial, Helvetica, sans-serif;
	width: 650px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	list-style: url(images/Li_Vierkant_Blauw.png);
}
.bericht {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.entry-meta {
	font-size: 12px;
	color: #666;
}
.entry-content {
	margin-bottom: 6px;
}
#Voorpagina #CentralekolomVP, #Activiteitenkalender #Centralekolom {
	height: auto;
	width: 808px;
	margin-left: 100px;
	margin-top: 0px;
	position: relative;
	left: 0px;
	top: 0px;
}
#Voorpagina #CentralekolomVP .page {
	border-style: none;
}
#Voorpagina #CentralekolomVP .entry-title {
	display: none;
}
#Voorpagina #CentralekolomVP {
	font:  16px "Open Sans", Arial, Helvetica, sans-serif;
}

.promoslider {
	clear: both;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
.promo_slider_excerpt {
	font-size: 11px;
}
#CentralekolomVP img {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.alignleft {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
}
.alignright {
	float: right;
	margin-bottom: 5px;
	margin-left: 10px;
}
.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.nocomments {
	display: none;
}
#DatumM25 {
	position: relative;
	height: 30px;
	width: 150px;
	left: 0px;
	top: 0px;
	padding-bottom: 5px;
	font: normal 20px "Yanone Kaffeesatz", Arial, Helvetica, sans-serif;
	text-align: center;
	color: #00F;
	display: none;
}
.when {
	font:  9px "Open Sans", Arial, Helvetica, sans-serif;
}
.archive .post {
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.tribe-events-event-list-meta table {
	width: 200px;
}
#Centralekolom img, #CentralekolomVP .foto, .single img {
	padding: 8px;
	border: 1px solid #CCC;
}

#CentralekolomVP .promo_slider_wrapper {
	border: 1px solid #CCC;
	padding: 8px;
	width: 800px;
}
.wp-caption-text {
	font: italic normal 9px Arial, Helvetica, sans-serif;
	color: #00F;
	margin-top: -3px;
}
#KrommePijl {
	background: url(images/KrommePijl.png) center center;
	height: 600px;
	width: 600px;
	position: absolute;
	margin-top: -50px;
	margin-left: 190px;
	left: 0px;
	top: 0px;
}
#CentralekolomVP {
	z-index: 2000;
}
.navlink  {
	margin-top: 40px;
	border-top: 1px solid #03F;
}